footer.footer
    .footer__inner.container
        p.footer__text.
            Mixupload is the best website for djs not only in Russia, but perhaps in the whole world. We are like the best dj services has a catalog of several tracks by subscription. Some of the tracks are totally free while premium tracks are available with subscription.
        nav.footer__nav
            .footer__nav-col
                h2.footer__nav-title Support
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href="#") Support
                    li.footer__nav-item
                        a(href="#") Privacy Policy
                    li.footer__nav-item
                        a(href="#") User agreement
                    li.footer__nav-item
                        a(href="#") DMCA
                    li.footer__nav-item
                        a(href="#") Payment Subscription
                    li.footer__nav-item
                        a(href="#") MixUpload
            .footer__nav-col
                h2.footer__nav-title Work with us
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href="#") Plans & Pricing
                    li.footer__nav-item
                        a(href="#") Distribution service
                    li.footer__nav-item
                        a(href="#") Upload a track
                    li.footer__nav-item
                        a(href="#") Music promotion
                    li.footer__nav-item
                        a(href="#") Monetize my music
        ul.footer__stats.stats
            li.stats__item
                p.stats__num $158,970
                p.stats__title Royalties paid
            li.stats__item
                p.stats__num 651,552
                p.stats__title Users
            li.stats__item
                p.stats__num 2,695,891
                p.stats__title Tracks available
        ul.footer__soc.soc
            li.soc__item
                a.soc__link(href="#")
                    img(src="images/icons/appstore.svg", alt="appstore" width="148" height="44")
            li.soc__item
                a.soc__link(href="#")
                    img(src="images/icons/appgallery.svg", alt="appgallery" width="148" height="44")
            li.soc__item
                a.soc__link(href="#")
                    img(src="images/icons/google.svg", alt="google-play" width="148" height="44")

