header.header
    .header__inner
        .header__top
            .header__top-inner.container
                .header__lang
                    button.header__lang-active English
        .header__bottom
            .header__bottom-inner.container
                .header__menu
                    button.header__burger.btn-circle
                        svg
                            use(href="images/sprites/main.stack.svg#svg-menu")
                    a.header__logo(href="#")
                        img(src="images/icons/logo.svg", alt="mixupload logo" width="150" height="29")
                    ul.header__manage
                        li.header__manage-item
                            a.header__manage-btn.btn-circle(href="#")
                                svg
                                    use(href="images/sprites/main.stack.svg#svg-shopping")
                        li.header__manage-item
                            a.header__manage-btn.btn-circle(href="#")
                                svg
                                    use(href="images/sprites/main.stack.svg#svg-moon")
                    .header__user
                        .header__user-profile
                            a.header__user-btn.btn-circle(href="#")
                                svg
                                    use(href="images/sprites/main.stack.svg#svg-profile")
                ul.header__music
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-star")
                            | TOP 100
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-activity")
                            | Trending
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-video-square")
                            | Streams
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-video-play")
                            | Video
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-people")
                            | Users
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-note")
                            | News
                    li.header__music-item
                        a.header__music-link(href="#")
                            svg.header__music-icon
                                use(href="images/sprites/main.stack.svg#svg-routing")
                            | Genres map