.features
   margin-bottom: 24px
   &__inner
      padding: 0
   &__list
      padding-left: 12px
      display: flex
      overflow-x: scroll
      -ms-overflow-style: none
      overflow: -moz-scrollbars-none
      &::-webkit-scrollbar
         width: 0
         height: 0
   &__item
      width: 174px
      min-width: 174px
      margin-right: 12px
      padding: 14px
      background: var(--theme900)
      border-radius: 10px
      font-weight: normal
      font-size: 11px
      line-height: 130%
   &__title
      margin-bottom: 10px
      padding-bottom: 13px
      font-weight: 800
      font-size: 14px
      line-height: 17px
      text-transform: uppercase
      position: relative
      &::after
         content: ''
         width: 30px
         height: 5px
         position: absolute
         bottom: 0
         left: 0
         border-radius: 50px
         background: var(--accent)
         box-shadow: 0px 5px 10px rgba(232, 25, 67, 0.35)
