@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-svg-activity {
	@extend %svg-common;
	background-position: 54.166666666666664% 66.66666666666667%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-activity {
	background-position: 54.166666666666664% 66.66666666666667%;
}
@mixin svg-svg-activity-hover {
	.svg-svg-activity {
		@include svg-pos-svg-activity-hover
	}
}

.svg-svg-activity:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-activity-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-arrow-down {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-arrow-down {
	background-position: 0 0;
}
@mixin svg-svg-arrow-down-hover {
	.svg-svg-arrow-down {
		@include svg-pos-svg-arrow-down-hover
	}
}

.svg-svg-arrow-down:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-arrow-down-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-arrow-right {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(118, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-svg-arrow-right {
	background-position: 100% 0;
}
@mixin svg-svg-arrow-right-hover {
	.svg-svg-arrow-right {
		@include svg-pos-svg-arrow-right-hover
	}
}

.svg-svg-arrow-right:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(18, 18)*100%;
}

.svg-svg-arrow-right-dims {
	width: 18px;
	height: 18px;
}

.svg-svg-download {
	@extend %svg-common;
	background-position: 66% 96.29629629629629%;
	background-size: math.div(118, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-svg-download {
	background-position: 66% 96.29629629629629%;
}
@mixin svg-svg-download-hover {
	.svg-svg-download {
		@include svg-pos-svg-download-hover
	}
}

.svg-svg-download:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(19, 18)*100%;
}

.svg-svg-download-dims {
	width: 18px;
	height: 19px;
}

.svg-svg-menu {
	@extend %svg-common;
	background-position: 28.26086956521739% 0;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-menu {
	background-position: 28.26086956521739% 0;
}
@mixin svg-svg-menu-hover {
	.svg-svg-menu {
		@include svg-pos-svg-menu-hover
	}
}

.svg-svg-menu:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-menu-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-moon {
	@extend %svg-common;
	background-position: 0 35.13513513513514%;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-moon {
	background-position: 0 35.13513513513514%;
}
@mixin svg-svg-moon-hover {
	.svg-svg-moon {
		@include svg-pos-svg-moon-hover
	}
}

.svg-svg-moon:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-moon-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-note {
	@extend %svg-common;
	background-position: 81.25% 0;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-note {
	background-position: 81.25% 0;
}
@mixin svg-svg-note-hover {
	.svg-svg-note {
		@include svg-pos-svg-note-hover
	}
}

.svg-svg-note:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-note-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-notification {
	@extend %svg-common;
	background-position: 28.26086956521739% 35.13513513513514%;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-notification {
	background-position: 28.26086956521739% 35.13513513513514%;
}
@mixin svg-svg-notification-hover {
	.svg-svg-notification {
		@include svg-pos-svg-notification-hover
	}
}

.svg-svg-notification:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-notification-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-people {
	@extend %svg-common;
	background-position: 81.25% 28.205128205128204%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-people {
	background-position: 81.25% 28.205128205128204%;
}
@mixin svg-svg-people-hover {
	.svg-svg-people {
		@include svg-pos-svg-people-hover
	}
}

.svg-svg-people:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-people-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-profile {
	@extend %svg-common;
	background-position: 56.52173913043478% 0;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-profile {
	background-position: 56.52173913043478% 0;
}
@mixin svg-svg-profile-hover {
	.svg-svg-profile {
		@include svg-pos-svg-profile-hover
	}
}

.svg-svg-profile:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-profile-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-routing {
	@extend %svg-common;
	background-position: 81.25% 56.41025641025641%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-routing {
	background-position: 81.25% 56.41025641025641%;
}
@mixin svg-svg-routing-hover {
	.svg-svg-routing {
		@include svg-pos-svg-routing-hover
	}
}

.svg-svg-routing:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-routing-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-search {
	@extend %svg-common;
	background-position: 56.52173913043478% 35.13513513513514%;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-search {
	background-position: 56.52173913043478% 35.13513513513514%;
}
@mixin svg-svg-search-hover {
	.svg-svg-search {
		@include svg-pos-svg-search-hover
	}
}

.svg-svg-search:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-search-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-shopping {
	@extend %svg-common;
	background-position: 0 70.27027027027027%;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-shopping {
	background-position: 0 70.27027027027027%;
}
@mixin svg-svg-shopping-hover {
	.svg-svg-shopping {
		@include svg-pos-svg-shopping-hover
	}
}

.svg-svg-shopping:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-shopping-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-sms {
	@extend %svg-common;
	background-position: 28.26086956521739% 70.27027027027027%;
	background-size: math.div(118, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-svg-sms {
	background-position: 28.26086956521739% 70.27027027027027%;
}
@mixin svg-svg-sms-hover {
	.svg-svg-sms {
		@include svg-pos-svg-sms-hover
	}
}

.svg-svg-sms:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(26, 26)*100%;
}

.svg-svg-sms-dims {
	width: 26px;
	height: 26px;
}

.svg-svg-star {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-star {
	background-position: 0 100%;
}
@mixin svg-svg-star-hover {
	.svg-svg-star {
		@include svg-pos-svg-star-hover
	}
}

.svg-svg-star:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-star-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-video-play {
	@extend %svg-common;
	background-position: 22.916666666666668% 100%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-video-play {
	background-position: 22.916666666666668% 100%;
}
@mixin svg-svg-video-play-hover {
	.svg-svg-video-play {
		@include svg-pos-svg-video-play-hover
	}
}

.svg-svg-video-play:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-video-play-dims {
	width: 22px;
	height: 22px;
}

.svg-svg-video-square {
	@extend %svg-common;
	background-position: 45.833333333333336% 100%;
	background-size: math.div(118, 22)*100% auto;
	width: 22px;

}
@mixin svg-pos-svg-video-square {
	background-position: 45.833333333333336% 100%;
}
@mixin svg-svg-video-square-hover {
	.svg-svg-video-square {
		@include svg-pos-svg-video-square-hover
	}
}

.svg-svg-video-square:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(22, 22)*100%;
}

.svg-svg-video-square-dims {
	width: 22px;
	height: 22px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }